.containerStep {
    margin: 3rem 7.5rem;
    min-height: 305px;
}

.appointBoxButtons {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 1rem 1rem;
}

.Text {
    position: absolute;
    color: #FFF;
    font-family: Roboto;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    align-items: center;
    padding: 0 0 0 7.5rem;
    gap: 0.5rem;
    width: calc(100% - 7.5rem);
}

.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 2.6875rem;
    max-width: 300px;
    right: 1rem;
    gap: 0.5rem;
    color: #000;
    font-family: "Roboto";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border: none;
    cursor: pointer;
    padding: 0 1.5rem;
    z-index: 3;
}

.next {
    background: rgba(128, 66, 0, 1);
    color: white;
    margin-left: auto;
}

.next.disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.5;
}

.resumeContainer {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.resumeText {
    font-family: "Barlow Condensed";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.75rem;
    margin-bottom: 5%;
}

.resumeInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0rem 2rem;
    color: #000;
    font-family: "Barlow Condensed";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 35%;
    height: 5.5rem;
    margin-top: 3%;
}

.appointTitle {
    font-family: "Roboto";
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.appointTitle span {
    font-weight: 500;
}

.calendarContainer,
.clockContainer {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.8);
    width: 25rem;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}

.pickersContainer {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 2%;
}

.clockTitle {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.clockContainer {
    flex-direction: column;
    gap: 1.25rem;
}

.clockLeft,
.clockRight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
    justify-items: center;
}

.clockHour {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.5rem;
}

.clockHourSelected {
    border-radius: 0.5rem;
    background: rgba(128, 66, 0, 1);
    color: white;
}

.clockDisabled {
    color: lightgrey;
    cursor: default;
    pointer-events: none;
}

.tarjeta {
    display: flex;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}

.tarjeta:hover {
    transform: scale(1.1);
}

.tarjet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
}

.tarjet img {
    width: 115%;
    border-radius: 50%;
    margin-top: -1.5rem;
}

.nombrePeluquero {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Barlow Condensed;
    font-size: 1.8rem;
    font-weight: bold;
    align-self: stretch;
    margin-top: 16px;
}

.tipoPeluquero {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Barlow Condensed;
    font-size: 1rem;
    align-self: stretch;
    margin-top: 0.1rem;
}

.containerPeluqueros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    margin-top: 3rem;
}

.circularProg {
    display: flex;
    justify-content: center;
}

@media (max-width:1300px) {
    .containerStep {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    .appointTitle {
        font-size: 1.7rem;
        text-align: center;
        width: 350px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 25px;
    }

    .pickersContainer,
    .resumeContainer {
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        transform: scale(0.8);
        position: relative;
        top: -5rem;
        gap: 1rem;
    }

    .resumeText {
        width: 100%;
        text-align: center;
    }

    .resumeInfo {
        width: 90%;
    }

    .resumeContainer {
        margin-top: 5rem;
    }

    .resumeContainer {
        align-items: center;
        gap: 2rem;
    }

    .resumeInfo {
        padding: 2.5rem;
    }

    .appointBoxContainer {
        margin: 3rem auto;
    }

    .formContainer form {
        flex-direction: column;
    }

    .appointImgText {
        padding: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .step0Container .buttonContainer {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .step0Container .title {
        text-align: center;
    }

    .appointContainer {
        margin-bottom: 0;
    }

    .appointBoxContainer {
        margin: 1.5rem 0 5rem 0;
    }

    .step0Container .question {
        margin: 2rem 0;
    }

    .step1 .question {
        margin: 1rem 0 2rem !important;
    }

    .step0Container .question,
    .step0Container .title {
        font-size: 1.25rem;
    }

    .buttonContainer button {
        transform: scale(0.85);
    }

    .step0Container .buttonContainer {
        gap: 1rem;
    }

    .dniContainer {
        margin: 0 1rem;
    }

    .pickersBox {
        height: 40rem;
    }

    .success-page .appointBoxContainer {
        margin-bottom: 0;
    }

    .success-page .appointBoxButtons {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }

    .appointBoxContainer.errorPage {
        margin-bottom: 0;
        height: 0;
    }

    .resumeContainer.errorPage {
        flex-direction: column-reverse;
    }
}