.rowButtonAction:not(:last-child) {
    margin-right: 1rem;
}

.rowButtonAction {
    cursor: pointer;
}

#modal-modal-title {
    font-size: 2rem;
    font-family: "Inter";
    text-align: center;
}

.modalButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.backModal,
.confirmModal,
.cancelModal {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    font-size: 1.25rem;
}

.backModal svg {
    width: 1rem;
}

.backModal svg path {
    fill: rgba(0, 0, 0, 0.70);
}

.backModal {
    background: #ECECEC;
    height: 2.5rem;
    padding: 0.5rem 1rem;
}

.confirmModal,
.cancelModal {
    padding: 0.5rem 3rem;
    background: #C2E36D;
    height: 3rem;
}

.cancelModal {
    background: #de5858;
    color: white;
}

.closeIcon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.MuiBackdrop-root.MuiModal-backdrop {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.dragContainer,
.drop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editBoxImage {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #fff;
    cursor: pointer;
    min-width: 90%;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eeeeee72;
    border-color: #111;
    color: #222;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #C2E36D;
    padding: 10px 20px;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: rgba(123, 154, 46, 0.74)
}

.textInModal {
    display: flex;
    gap: 1rem;
    width: 70%;
    justify-content: space-between;
}

.textInModal span {
    font-size: 1.5rem;
}

.textInModal input {
    border-radius: 0;
    background-color: #555;
    color: white;
    box-shadow: none;
    font-family: "Inter";
    padding-left: .5rem;
    border-color: transparent;
    font-weight: bold;
}

@media (max-width:1024px) {
    .textInModal {
        width: 95%;
    }
}