@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.adminModule {
    font-family: "Inter", sans-serif;
    display: flex;
}

.alertBox {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 3;
}

.floatLogo {
    width: 7.125rem;
    height: 7.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1rem;
}

.floatLogo img {
    width: 100%;
    object-fit: contain;
}

.menuContainer {
    height: 100vh;
    width: 20vw;
    background-color: #232323;
    padding: 4vw 1vw;
    position: fixed;
}

.logoutButton {
    color: white;
    position: fixed;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-decoration: underline;
    cursor: pointer;
}

.goHomeButton {
    color: white;
    position: fixed;
    bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-decoration: underline;
    cursor: pointer;
}

.menuItem {
    color: white;
    font-size: min(1.5rem, 2vw);
    padding: 1rem;
    border-radius: 1rem;
}

.menuItemContent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.itemSelected {
    background-color: #5F5F5F;
    font-weight: 700;
}

.editorContainer {
    width: 80vw;
    min-height: 100vh;
    margin-left: 22vw;
    background-color: #5F5F5F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: calc(100% - 9.25rem);
    align-items: center;
    margin: 4rem 0;
}

.initialTitle,
.proxApo {
    font-weight: 400;
    color: white;
    font-size: 2.25rem;
}

.proxApo {
    margin-top: 4rem;
}

.initialTitle {
    max-width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.initialTitle strong {
    max-width: 25vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
}

.proxApo {
    width: 100%
}

.blackLayout {
    width: calc(100% - 2rem);
    min-height: 5rem;
    margin-top: 3rem;
    border-radius: 1.25rem;
    background: rgba(0, 0, 0, 0.37);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.28);
    padding: 0 1rem;
}

.blackLayout .rowContainer {
    display: flex;
}

.blackLayout .rowContainer:last-child {
    padding-bottom: 1rem;
}

.rowContainer .rowItem {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 1rem 0;
}

.rowContainer .rowItem span,
.rowContainer .rowItem p {
    font-size: 1.5rem;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    max-width: 800px;
}

.MuiChip-label {
    font-size: .75rem !important;
}

.rowContainer .rowItem img {
    max-height: 100%;
    object-fit: contain;
}

.rowContainer .rowItem:not(:last-child) {
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-width: 0 1px 0 0;
}

.proxApoHeader.rowContainer .rowItem {
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-width: 0 0 1px 0;
    margin: 1rem 0 0 0;
    padding: 0 0 1rem 0;
    font-size: 1.5rem;
}

.proxApoHeader.rowContainer .rowItem:not(:last-child) {
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-width: 0 1px 1px 0;
}

.actionButtonsCont {
    display: flex;
    gap: 5rem;
    margin: 3rem 0 0 0;
}

.buttonCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.circularButton {
    background-color: #232323;
    border-radius: 100%;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circularButton svg {
    width: 3rem;
    height: 3rem;
}

.circButtonTitle {
    color: white;
}

.seeAllApo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 2rem 0;
}

.seeAllButton {
    background-color: #232323;
    color: white;
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
}

.seeAllButton svg {
    width: 1rem;
    margin-left: 1rem;
}

.actionsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.switchColorMode {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switchOptions {
    font-size: .75rem;
}

.colorsContainer {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem 0;
}

.colorDemo {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    object-fit: contain;
    cursor: pointer;
    max-width: 4rem;
}

.colorGroupName {
    font-size: 1.25rem;
    width: 50%;
}

.apoTitle {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.monthsSelector {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.apoTitle button {
    border-radius: 100%;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.apoTitle button svg {
    width: 1rem;
    height: 1rem;
}

.calendarBox {
    display: flex;
    flex-direction: column;
}

.AdminCalendarContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 1rem;
    position: relative;
}

.calendarDay {
    aspect-ratio: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.calendarDay .info {
    color: #FFFFFF80;
    font-size: .75rem;
    margin: 0;
    margin-top: .25rem;
}

.calendarDay.selected .info {
    color: #000;
}

.calendarDay span {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}

.notThisMonth {
    opacity: 0.3;
}

.selected span {
    background: #fff;
    border-radius: 100%;
    color: #000;
}

.apoCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
    gap: 1rem;
    column-gap: 2rem;
    margin-top: 2rem;
}

.apoCard {
    display: flex;
    align-items: center;
    border-radius: 0.3125rem;
    background: rgba(0, 0, 0, 0.37);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.28);
    padding: 1rem 1.5rem;
    color: white;
    width: 90%;
    justify-content: space-between;
    height: 1.75rem;
}

.apoCardInfo {
    display: flex;
    gap: .25rem;
    align-items: center;
}

.apoCardEdit {
    display: flex;
    gap: .5rem;
}

.apoCardEdit svg {
    width: 1.5rem;
    height: 1.5rem;
}

.rowButtonAction {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addSection {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 3.5rem;
}

.newProfButton {
    background-color: #000;
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.newProfButton:hover {
    transform: scale(1.1);
}

.newProfButton svg {
    color: white;
    height: 2rem;
    width: 2rem;
}

.AdminCalendarContainer .newProfButton {
    position: absolute;
    right: -3rem;
    bottom: -3rem;
}

.blackLayLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.noData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    color: white;
    font-size: 2rem;
    padding: 4rem 0;
    text-align: center;
    width: 100%;
}

.tableEdit {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.formFilters {
    display: flex !important;
    gap: 1rem;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin: 2rem 2rem 1rem 2rem !important;
}

.formFilters .switchOptions {
    color: white;
}

.searchFilters {
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-radius: .5rem;
    width: max-content;
}

.canceledFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.tableEdit .rowButtonAction .MuiSvgIcon-root {
    height: 2rem !important;
    aspect-ratio: 1 !important;
}

.rowCanceled {
    color: #817F7F !important;
}

.apoCardCanceled {
    opacity: .5;
}

.mpSwitcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.5rem;
    padding: 2rem 2rem 0 2rem;
}

.mpInfo {
    color: white;
    font-size: 1rem;
    padding: 0 2rem;
    margin: 2rem 0;
}

.selectContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    min-width: 300px;
    width: 100%;
}

.nextMonthsCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: white;
    font-size: 1rem;
    gap: 1rem;
}

@media (max-width:1300px) {
    .calendarDay .info {
        display: none;
    }
}

@media (max-width:1024px) {
    .editorContainer {
        width: 100vw;
        margin: 0;
    }

    .drawerButton {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .drawerButton svg {
        color: #fff;
    }

    .mainContainer {
        margin-top: 1rem;
        width: calc(100% - 2rem);
    }

    .initialTitle,
    .proxApo {
        font-size: 1.5rem;
    }

    .floatLogo {
        display: none;
    }

    .adminDrawer .MuiDrawer-paper,
    .adminDrawer .MuiList-padding {
        width: 70vw !important;
        background-color: #232323 !important;
    }

    .adminDrawer .MuiList-padding {
        width: 68vw !important;
        margin-left: 1vw !important;
    }

    .logoutButton,
    .goHomeButton {
        font-size: 1.5rem;
        left: 1rem;
        align-items: flex-end;
    }

    .menuItem {
        padding: 0;
    }

    .menuItem span {
        font-size: 1.5rem !important;
    }

    .itemSelected span {
        font-weight: bold;
    }

    .colorsContainer {
        gap: unset;
        justify-content: space-around;
    }

    .rowItem span,
    .rowItem p,
    .colorGroupName {
        font-size: 1rem !important;
    }

    .rowContainer .rowItem span,
    .rowContainer .rowItem p {
        max-width: 100px;
    }

    .rowButtonAction .MuiSvgIcon-root {
        width: 1.75rem !important;
        height: 1.75rem !important;
    }

    .apoCardEdit svg {
        width: 1.125rem;
        height: 1.125rem;
    }

    .colorDemo {
        width: 3rem;
        height: 3rem;
        max-width: 3rem;
    }

    .calendarBox .rowItem {
        font-size: .875rem !important;
        border-width: 0 0 1px 0 !important;
    }

    .calendarDay {
        aspect-ratio: 1;
        max-width: 75px;
    }

    .monthsSelector {
        gap: .5rem;
        font-size: .875rem;
    }

    .monthsSelector button {
        width: 1.5rem;
        height: 1.5rem;
    }

    .apoTitle {
        font-size: 1rem;
    }

    .apoCards {
        grid-template-columns: repeat(1, 1fr);
    }

    .apoCard {
        width: 85%;
    }

    .apoCardName {
        display: block;
        max-width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .actionsContainer {
        gap: .5rem;
    }

    .addSection {
        margin-top: 3rem;
    }

    .AdminCalendarContainer .newProfButton {
        right: -2rem;
        bottom: -3rem;
        transform: scale(.75);
    }

    .noData {
        font-size: 1rem;
    }

    .MuiTablePagination-toolbar,
    .MuiTablePagination-selectIcon {
        padding: 0 !important;
        color: white !important;
    }

    .MuiFormControl-root {
        margin: 1rem 0 0 0 !important;
        width: 100%;
        display: flex;
    }

    .formSearch {
        width: 100%;
    }

    .searchFilters {
        width: 100%;
        display: flex;
    }

    .searchFilters .MuiInputBase-input,
    .searchFilters .MuiSvgIcon-root {
        color: white !important;
    }

    .mpSwitcher {
        font-size: 1rem;
    }

    .mpSwitchText {
        display: none;
    }

    .mpInfo {
        font-size: .875rem;
    }

    .nextMonthsCont {
        font-size: .875rem;
    }
}

@media (max-width:500px) {
    .actionsContainer {
        position: relative;
    }

    .chipContainer {
        position: absolute;
        left: 0;
        transform: scale(.9);
    }

    .AdminCalendarContainer .newProfButton {
        transform: scale(.5);
    }
}