.adminLoginContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
}

.adminLoginBox {
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(350px, 35%);
    border-radius: 2.5rem;
    gap: 1rem;
    padding: 2rem 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.adminLoginBox img {
    width: 200px;

}

.adminLoginBox span {
    color: white;
}

.actionbutton {
    background-color: #1D1D1D;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: white;
    border: 1px solid white;
    transition: ease .3s;
}

.actionbutton:hover {
    transform: scale(1.1);
}

.backToHome {
    color: white;
}

.backToHome:hover {
    text-decoration: underline;
}

.imageLoginBox {
    border-radius: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

.imageLoginBox img {
    width: 50%;
    object-fit: contain;
    max-height: 50%;
}

.formLoginBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.formLoginBox .textInModal {
    width: 100%;
}

.formLoginBox .actionbutton {
    width: 40%;
    max-width: 150px;
}

.passwordInputCont {
    display: flex;
    align-items: center;
    position: relative;
}

.passwordInputCont input {
    height: 90%;
}

.seePasswordButton {
    position: absolute;
    right: .25rem;
    display: flex;
    align-items: center;
}

@media (max-width:1024px) {
    .formLoginBox .textInModal {
        width: 90%;
    }
}